@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Teko:wght@300..700&display=swap');

html {
    --text-color: white;
    --background-color: #333;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

:target {
    scroll-margin-top: 100px;
}